.Code {
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    color: var(--accent-redesigned);
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
