.StarRating {
    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }
}

.starIcon {
    cursor: pointer;
}

.normal {
    fill: none;
}

.selected {
    cursor: auto;
}
